* { /* universal selector */
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1 {
    text-align: center;
}

#generate-article-button {
    padding-left: 2rem;
    text-align: center;
    font-size: 2rem;
}
