/*(Ctrl + Shift + R) or (Ctrl + F5)*/

:root {
    --primary: #b1a51d;
    --pure: #FFFFFF;
    --dark: #03050f;
}


html {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

* { /* universal selector */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header {
    /* display: flex;
    background-color: white;
    padding: 1%;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px; 
}*/

header nav {
    padding: 2rem 0; /* length percentage */
}

body {
    font-family: 'Spectral', 'sans-serif'; /* can try Spectral/Poppins */
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a { /* can hone in on a particular a */
    color: var(--pure);
    text-decoration: none;
    margin-right: 5rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

header h1 {
    text-align: left;
    font-size: 3rem;
}

#generate-article-btn {
    display: block;
    margin: 0 auto;
    font-size: 2em;
}

.btn {
    padding: 0.8rem 3rem; /* top-bottom and left-right*/
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid transparent; /*width style color*/
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary {
    background-color: green;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    border-color: var(--primary);
    background: transparent;
    color: var(--primary);
}

.main-content button {
    text-align: left;
}

.flex {
    display: flex;
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.space-between{ 
    justify-content: space-between;
}

.btn {
    padding: 0.8rem 3rem; /* top-bottom and left-right*/
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid transparent; /*width style color*/
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--primary);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    border-color: var(--primary);
    background: transparent;
    color: var(--primary);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background: var(--primary);
    color: var(--dark);
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.post-content {
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
}

.post-header h1 {
    font-style: italic;
}

.title-and-image {
    padding-bottom: 5px;
}

.title-and-image img{
    padding-right: 15px;
}

.post-header hr {
    color: var(--primary);
    opacity: 0.7;
}

.main-content {
    padding-top: 2rem;
}

.main-content {
    font-size: 20px;
}


